#bg-image{
    background-image: url(img/e.jpeg);
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
}
#bg-text{
    background-color:rgba(144,	136, 166, 0.1);
    
}
h3{
    color:#A9A9A9;
}

#founder{
    background-color: white;
}
#founder>div:first-child{
    margin-top: 20%;
}
h1{
    font-size: 1.6em;
    margin-top: 60%
}
h3{
    font-size: 1.2em;
    margin-top: 30%
}




